<div class="row">
  <div class="col-sm-12">
    <div class="owl-carousel">
      <div class="thumbnail"><img src="http://www.seattleorganicrestaurants.com/vegan-whole-foods/images/Food-Guidelines.jpg"></div>
      <div class="thumbnail"><img src="http://cdn.sheknows.com/articles/ribs-and-fries.jpg"></div>
      <div class="thumbnail"><img src="http://www.ebeijing.gov.cn/Life/Eating/ForeignStyle/W020080429489337189983.jpg"></div>
      <div class="thumbnail"><img src="http://www.topnews.in/files/Chicken-Items.jpg"></div>
      <div class="thumbnail"><img src="http://images.idiva.com/media/photogallery/2012/Aug/foods_sunday.jpg"></div>
      <div class="thumbnail"><img src="http://www.talkvietnam.com/files/2012/08/food-served-at-royal-style-restaurant-515671-pizza.png"></div>
    </div>
  </div>   
</div>

<!-- Controls -->
<!-- <a class="left carousel-control" href="#." onclick="javascript:previousSlide();">
    <span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#." onclick="javascript:nextSlide();">
    <span class="icon-next"></span>
</a>
 -->